#headFont {
    font-family: 'Spartan';
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 24px;
}

.skyFont {
    font-weight: 600;
    color: #44bbff;
}

#errorMsg {
    color: rgb(204, 80, 80);
    padding-top: 14px;
    font-size: 18px;
}

.ui.large.menu {
    background-color: #091a2e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
}

#jumbotron {
    background:
        linear-gradient(0deg,
        rgba(0, 0, 0, 0.72), 
        rgba(0, 0, 0, 0.72)), 
        url(Imgs/weathersHiRes.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 500px;
    position: relative;
    transition: .4s ease;
}

.ui.menu.fixed, .ui.menu.fixed .item:first-child, .ui.menu.fixed .item:last-child {
    color: white;
}

.ui.text.container {
    padding-top: 220px;
    transition: .4s ease;
}

h2 {
    font-size: 40px;
    font-family: "Spartan";
    font-weight: 200;
}

.ui.search .prompt {
    background-color: rgba(0, 0, 0, 0.45);
    border-color: rgb(255, 255, 255);
}

.ui.search .prompt:focus {
    background-color: rgba(0, 0, 0, 0.45);
    border-color: white;
}

.ui.icon.input>input {
    color: white;
    font-family: "Spartan";
    padding-top: 15px;
}

.ui.icon.input {
    color: white;
}

#returnContainer {
    margin-top: 40px;
    padding-bottom: 40px;
}

h1.ui.header {
    font-family: "Spartan";
    font-size: 42px;
    font-weight: 400;
    color: #44bbff;
}

h3.ui.header {
    font-family: "Spartan";
    font-size: 20px;
    font-weight: 300;
}

h3.ui.header span {
    color: #44bbff;
    font-weight: 500;
}
 #htmlDate {
     text-align: center;
     color: #494949;
     font-size: 16px;
     font-weight: 500;
 }

#htmlCondition {
    font-family: "Spartan";
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

#htmlOnLoadIcon {
    height: 200px;
    width: auto;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #c6cfd4;
}

#htmlIcon {
    height: 120px;
    width: auto;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #6cc9ff;
}

#htmlIcon,
#htmlCondition,
#htmlDate {
    display: none;
}

@media only screen and (max-width: 920px) {
    #jumbotron {
        min-height: 300px;
        transition: .5s ease;
    }
    .ui.text.container {
        padding-top: 120px;
        transition: .4s ease;
    }
    h2 {
        font-size: 24px;
        font-family: "Spartan";
        font-weight: 200;
    }
    .block.container {
        margin: auto;
        width: 66%;
        padding: 5px;
    }
    h1.ui.header {
        font-family: "Spartan";
        font-size: 32px;
        font-weight: 400;
        color: #44bbff;
    }
    h3.ui.header {
        font-family: "Spartan";
        font-size: 18px;
        font-weight: 300;
    }
    h3.ui.header span {
        color: #44bbff;
        font-weight: 500;
    }
    #htmlOnLoadIcon {
        height: 120px;
    }
}